/last_training_results_camera1_ale
/last_training_results_camera2_ale
/training_images/
/testing_images/
/YOLO/original_weights/
/YOLO/training_images/
/YOLO/Camera_1_weights/
/YOLO/Camera_1_weights_webb/
/YOLO/Camera_2_weights/
/YOLO/Camera_2_weights_webb/
/runs/detect_camera1_confronto/
/runs/detect_camera2_confronto/
/runs/detect_modello_edo/
/.venv/
/check_model_on_photos_bk.py
/runs/detect_camera1_confronto
/runs/detect_camera2_confronto
/runs/detect_modello_edo